astroid==3.1.0
certifi==2024.8.30
charset-normalizer==3.4.0
dataclasses-json==0.6.7
dill==0.3.9
httpretty==1.1.4
idna==3.10
iniconfig==2.0.0
isort==5.13.2
jsonpath-python==1.0.6
marshmallow==3.23.1
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.2
platformdirs==4.3.6
pluggy==1.5.0
pylint==3.1.0
pytest==8.1.1
python-dateutil==2.9.0.post0
requests==2.32.3
shippo @ file:///Users/randallkeur/Projects/shippo-python-sdk
six==1.16.0
tomlkit==0.13.2
typing-inspect==0.9.0
typing_extensions==4.12.2
urllib3==2.2.3
